.loading-wrapper {
  background-color: var(--color-surface-secondary);
  transform: translateY(0);
  animation: slide-up-to-top 1.5s ease-in-out 3.5s forwards;
}

@keyframes slide-up-to-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

h1 {
  color: rgba(40, 44, 52, 0.8);
}

h1:before {
  /* Get content from the data-text attribute and create one rectangle-like layer.*/
  content: attr(data-text);
  position: absolute; /*Overlay the text */
  /* Gradient background cutout shows only in text. */
  background-color: var(--color-primary-green);
  --webkit-background-clip: text;
  /* Limit the background area inside the text */
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  /* Cut the text to show only in the small ellipse — creating the illusion of a beam of light. */
  clip-path: ellipse(80px 80px at -2.54% -9.25%);
  animation: swing 3s infinite;
  animation-direction: alternate;
}

@keyframes swing {
  0% {
    -webkit-clip-path: ellipse(80px 80px at -2.54% -9.25%);
    clip-path: ellipse(80px 80px at -2.54% -9.25%);
  }
  50% {
    -webkit-clip-path: ellipse(80px 80px at 49.66% 64.36%);
    clip-path: ellipse(80px 80px at 49.66% 64.36%);
  }
  100% {
    -webkit-clip-path: ellipse(80px 80px at 102.62% -1.61%);
    clip-path: ellipse(80px 80px at 102.62% -1.61%);
  }
}
